@media only screen and (max-width:1400px) {
    .footer-info4, .choose-info4{
        display: none;
    }
    
}
@media only screen and (max-width:1000px) {
    .footer-info3, .choose-info3{
        display: none;
    }
    
}
@media only screen and (max-width:700px) {
    .footer-info2, .choose-info2{
        display: none;
    }
    
    
}
@media only screen and (max-width:653px) {
    .login{
        max-width: 350px;
        height: fit-content;
    }
    .login-btn{
        max-width: 200px;
    }
    
    
}

